/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.botontes{
  margin-left: 58px;
}

.modal-dialog {
    max-width: 1000px;
}

.activePa{
  width: 146px;
  padding: 0;
  margin-left: 15px;
}

.shortModal{
     width: 419px;
    margin-left: 500px;
    margin-top: 138px;
}

.switchButton{
  margin-left: 79px;
}


.botonesProductos{
  margin-left: 66px;
}

.btnGuardarImagen{
  margin-left: 765px;
}

.btnValorImagen{
  margin-top: 15px;
}

.marginNgSelect{
  margin-top: -12px;
}

.imgCentro{
  margin-left: 64px;
  margin-top: -20px;
}

.editProductsbtn{
  margin-left: 450px;
  margin-top: 20px;
}

.editProductsmarginNombre{
  margin-top: 14px;
}
