/* You can add global styles to this file, and also import other style files */

#themecolors a{
     cursor: pointer;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';/* Esto es importante para que encuntre el diseño de material */
@import "~@ng-select/ng-select/themes/material.theme.css";


/*Boostrap mod*/
.car-mod-radius0 {
  border-radius: 50%;
}
/*Fin Boostrap mod*/

.ng-select.ng-invalid.ng-touched .ng-select-container:after {
     border-color: #dc3545;
}
